body{
    font-family: "Roboto", sans-serif;
    color: var(--body-color);
    background-color: var(--body-backgroud-color);
    
}
:root {
--body-color: #434455;
--body-backgroud-color: #FFFFFF;

    --logo-color: #4D5AE5;
    --logo-studio-color: #2e2f42;
    --nav-color: #2e2f42;
    --address-color: #434455;

    --hero-background-color: #2e2f42;

    --featurs-section-names-color: #2e2f42;
    --featurs-section-text-color: #434455;

    --work-title-color: #2E2F42;

    --about-us-color: #2E2F42;
    --about-us-title-color: #2e2f42;
    --about-us-position-color: #434455;

    --footer-background-color: #2e2f42;
    --footer-logo-span-color: #f4f4fd;

    --portfolio-buttons-color: #4D5AE5;
    --portfolio-buttons-background-color: #F4F4FD;

    --portfolio-product-titles-color: #2E2F42;
    --portfolio-product-description-color: #434455;
}

/*  ul{list-style: none;}  Забере крапочки при списках ul*/




/* HEADER */
/* header logo */
.logo-webstudio {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-color);
}

.logo-webstudio:hover {color: #4D5AE5;} 
.logo-webstudio:focus {color: #4D5AE5;} 

.studio {color: var(--logo-studio-color);}

.studio:hover {color: #4D5AE5;}
.studio:focus {color: #4D5AE5;}

/* ---------LINK----------- */
.link {text-decoration: none;}

/* header link, list */
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--nav-color)
}
.header-link:hover {color: #404bbf ;}
.header-link:focus {color: #404bbf ;}

/* ---------LIST---------- */
.list {list-style: none;}

/* header address link */
    .address-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: var(--address-color);
        letter-spacing: 0.02em;}
        .address-link:hover {color: #404bbf;}
        .address-link:focus {color: #404bbf;}

        /* MAIN CONTENT */
        /* main hero - Section 1*/
.hero {background:var(--hero-background-color)}
.hero-title { font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
        text-align: center;
    letter-spacing: 0.02em; 
    color: #ffffff;}

    .hero-button {
        font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
background: #4D5AE5;
cursor: pointer;
letter-spacing: 0.04em
    }
    .hero-button:hover {background-color: #404BBF;}
    .hero-button:focus {background-color: #404BBF;}

    /* Featurs - Section 2 */
.featurs-title {
}

.featurs-names {  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--featurs-section-names-color);}

.featurs-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--featurs-section-text-color);}

/* Work - What are we doing - Section 3 */
.work-title {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--work-title-color);}

/* About us - Section 4 */
.about-us {
    background: #F4F4FD;
}
.about-title {font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--about-us-title-color)}
    

    .name-of-workers {font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--about-us-color);
        }
    .work-position {font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--about-us-position-color);
        }

    .team-figuration {
        background-color: #ffffff;

    }

/* Footer */
.footer {background: var(--footer-background-color);
}
.logo-webstudio-footer {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-color);}
.studio-footer {color: var(--footer-logo-span-color);
}
.footer-text {
    color: #F4F4FD
    ;
}

.studio-footer {color: var(--footer-logo-span-color);
}
.studio-footer:hover {color: #4D5AE5;}
.studio-footer:focus {color: #4D5AE5;}



    /* ----------- Portfolio Main -------------- */
.portfolio-hero-section {}


/* buttons of portfolio */
.button-font-family {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--portfolio-buttons-color);
    background-color: var(--portfolio-buttons-background-color);}
.button-font-family:hover {color: #ffffff;
background-color: #404BBF;} 
.button-font-family:focus {color: #ffffff;
background-color: #404BBF;} 

.button-cursor, .link-cursor{
    cursor: pointer;}

   /* Photo products */
.portfolio-product-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    color:var(--portfolio-product-titles-color)}


.portfolio-product-description {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--portfolio-product-description-color);
}